

.sidebar {
	.tab-menu-heading {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  z-index: 1;
	  display: flex;
	  margin-block-end: 27px;
	  background: $gray-1;
	}
	.tabs-menu ul li {
	  .active {
		background: $primary !important;
		color: $white !important;
		border: 1px solid $primary !important;
	  }
  
	  a {
		padding: 8px 16px;
		font-size: 14px;
		display: block;
		margin-block-end: 10px;
		border-radius: 3px;
		border: 1px solid $default-border;
		font-weight: 400;
		background: $default-background;
		color: $custom-black;
	  }
  
	  &:last-child a {
		margin-block-end: 0px;
	  }
  
	  width: 100%;
	  display: block;
	}
  
	.nav.panel-tabs {
	  padding: 20px;
	}
  
	.avatar-md {
	  width: 40px !important;
	  height: 40px !important;
	  font-size: 15px !important;
	}
  
	.avatar-lg {
	  width: 50px !important;
	  height: 50px !important;
	}
  
	position: fixed;
	display: block;
	top: 0px;
	width: 300px;
	bottom: 0;
	z-index: 9999;
	height: 100%;
	background: $custom-white;
	box-shadow: none;
	&.offcanvas.offcanvas-end{
		border-inline-start: $default-border;
	}
  
	.card {
	  box-shadow: none;
	  border: 0 !important;
	}
  
	.list-group-item {
	  margin-block-end: -2px;
	}
  }
  /*--chat--*/

.chat {
	margin-block-end: auto;
  
	.card {
	  height: 600px;
	}
  
	.card-header {
	  padding: 1rem;
	}
  }
  
  .contacts_body {
	white-space: nowrap;
  }
  
  .msg_card_body {
	overflow-y: auto;
  }
  
  .contacts_body {
	.contacts {
	  list-style: none;
	  padding: 0;
  
	  li {
		width: 100% !important;
		padding: 15px;
		border-block-end: 1px solid #ebeaf1;
	  }
	}
  
	.active {
	  background-color: #f5f6fb;
	}
  }
  
  #action_menu_btn {
	position: absolute;
	inset-inline-end: 36px;
	top: 21px;
	color: white;
	cursor: pointer;
	font-size: 20px;
  }
  
  .action_menu {
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: $white;
	color: #646367;
	top: 40px;
	inset-inline-end: 15px;
	display: none;
  
	ul {
	  list-style: none;
	  padding: 0;
	  margin: 0;
	}
  }
  
  .action-header {
	position: relative;
	background: $primary;
	padding: 15px 13px 15px 17px;
  }
  
  .ah-actions {
	z-index: 3;
	float: $float-right !important;
	margin-block-start: 7px;
	position: relative;
  }
  
  .actions {
	list-style: none;
	padding: 0;
	margin: 0;
  
	> li {
	  display: inline-block;
	}
  
	&:not(.a-alt) > li > a > i {
	  color: #a7a8c6;
	}
  
	> li > a {
	  > i {
		font-size: 20px;
	  }
  
	  display: block;
  
	  /* padding: 10px; */
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  margin: 0 auto;
	  line-height: 50px;
	  text-align: center;
  
	  &:hover {
		background: $black-1;
	  }
	}
  }
  
  .dash-5 {
	text-align: center;
  
	h3 {
	  font-size: 2rem;
	  margin-block-end: 0.5rem;
	}
  }
  
  .well {
	color: #5e629c;
  }
  
  .icon.icon-shape i {
	height: 3rem;
	width: 3rem;
	background: $black;
	border-radius: 50%;
	line-height: 3rem;
	background: rgba(9, 22, 49, 0.2);
	color: $white;
  }
  
  .user-img-circle {
	box-shadow: 0 0 0 rgba(81, 15, 167, 0.4);
	// animation: pulse 2s infinite;
	height: 90px;
  }
  .loading {
	animation: loading 2s infinite;
  }
  
  .chat {
	.action-header {
	  position: relative;
	  padding: 15px 13px 15px 17px;
	  box-shadow: 0 1px 15px 1px rgba(58, 58, 62, 0.5);
	}
  
	.dropdown-menu.dropdown-menu-end.show {
	  width: 100%;
	  margin-block-end: 5px;
	  position: absolute;
	  transform: translate3d(-176px, 22px, 0px);
	  top: 10px !important;
	  inset-inline-start: 0px;
	  will-change: transform;
	  overflow: hidden;
	}
  
	.msb-reply textarea {
	  width: 100%;
	  font-size: 13px;
	  padding: 12px 47px;
	  resize: none;
	  height: 44px;
	  border: 1px solid #ebeaf1;
	  background: #faf9ff;
	  margin-inline-start: -42px;
	}
  
	.dropdown-menu li {
	  padding: 7px;
  
	  &:hover {
		background: $light;
	  }
  
	  i {
		padding: 7px;
	  }
	}
  }
  
  .action_menu ul li:hover {
	cursor: pointer;
	background-color: $black-2;
  }
  
  .chat {
	.actions {
	  > li {
		display: inline-block;
	  }
  
	  &:not(.a-alt) > li > a > i {
		color: $white !important;
		line-height: unset;
	  }
	}
  
	.justify-content-start,
	.justify-content-end {
	  margin-block-end: 25px;
	}
  }
  
  .chatbox {
	.user_img {
	  height: 50px;
	  width: 50px;
	  border: 1.5px solid #f5f6fa;
	}
  
	.user_img_msg {
	  height: 40px;
	  width: 40px;
	  border: 1.5px solid #f5f6fa;
	}
  
	.img_cont {
	  position: relative;
	  height: 50px;
	  width: 50px;
	}
  
	.img_cont_msg {
	  height: 40px;
	  width: 40px;
	  display: contents;
	}
  }
  
  .chat-box-single-line {
	height: 12px;
	margin: 7px 0 30px;
	position: relative;
	text-align: center;
  }
  
  .chat abbr.timestamp {
	padding: 4px 14px;
	border-radius: 4px;
	color: $custom-black;
  }
  
  .chatbox {
	.user_info {
	  margin-block-start: auto;
	  margin-block-end: auto;
	  margin-inline-start: 15px;
  
	  span {
		color: #464444;
	  }
	}
  
	.action-header small {
	  font-size: 10px;
	}
  }
  
  .chat {
	.video_cam {
	  margin-inline-start: 50px;
	  margin-block-start: 5px;
  
	  span {
		color: white;
		font-size: 20px;
		cursor: pointer;
		margin-inline-end: 20px;
	  }
	}
  
	.msg_cotainer {
	  margin-block-start: auto;
	  margin-block-end: auto;
	  margin-inline-start: 10px;
	  background-color: $primary-01;
	  padding: 10px;
	  position: relative;
	  border-start-start-radius: 0;
	  border-start-end-radius: 10px;
	  border-end-start-radius: 10px;
	  border-end-end-radius: 10px;
	  box-shadow: 0 0px 5px -2px rgb(255 255 255 / 10%);
	}
  
	.msg_cotainer_send {
	  margin-block-start: auto;
	  margin-block-end: auto;
	  margin-inline-end: 10px;
	  background-color: $default-background;
	  padding: 10px;
	  position: relative;
	  border-start-start-radius: 10px;
	  border-start-end-radius: 0;
	  border-end-start-radius: 10px;
	  border-end-end-radius: 10px;
	  box-shadow: 0 0px 5px -2px rgb(255 255 255 / 10%);
	}
  
	.msg_time {
	  position: absolute;
	  inset-inline-start: 0;
	  bottom: -18px;
	  color: $text-muted;
	  font-size: 10px;
	}
  
	.msg_time_send {
	  position: absolute;
	  inset-inline-end: 0;
	  bottom: -18px;
	  color: $text-muted;
	  font-size: 10px;
	}
  
	.msg_head {
	  position: relative;
	  background: #60529f;
	  box-shadow: 0 1px 15px 1px rgba(58, 58, 62, 0.4);
	}
  }
  
  @media (max-width: 449px) {
	.actions {
	  float: $float-left !important;
	}
  }
  @media (min-width: 992px) {
	.main-content-app {
	  height: calc(100vh - 250px);
	  display: flex;
	}
  
	.main-chat-list {
	  height: calc(100% - 68px);
	  position: relative;
	}
  
	.main-chat-body {
	  height: calc(100% - 105px);
	}
  
	.chat-main {
	  overflow: hidden;
	}
  }
  .main-chat-footer {
	input {
	  height: 40px;
	}
  }
  #chatmodel {
	.modal-content {
	  background-color: transparent;
	}
  }
  
  .chat-main {
	.dropdown-menu.dropdown-menu-start {
	  --bs-position: start !important;
	  inset-inline-end: auto !important;
	  inset-inline-start: 0 !important;
	}
  }
  
  .main-nav-line-chat.main-nav-line .nav-link {
	padding: 13px 20px;
  }
  
  @-moz-keyframes loading {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(-145%);
	  transform: translateY(-145%);
	}
  
	10% {
		opacity: 0.5;
	}
  
	20% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
  
	80% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
  
	90% {
		opacity: 0.5;
	}
  
	100% {
		opacity: 0;
		-webkit-transform: translateY(145%);
		transform: translateY(145%);
	}
  }
  
  @keyframes loading {
	0% {
	  opacity: 0;
	  -webkit-transform: translateY(-145%);
	  transform: translateY(-145%);
	}
  
	10% {
		opacity: 0.5;
	}
  
	20% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
  
	80% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
  
	90% {
		opacity: 0.5;
	}
  
	100% {
		opacity: 0;
		-webkit-transform: translateY(145%);
		transform: translateY(145%);
	}
  }
  
  @media (max-width: 991px) and (min-width: 768px) {
	.app.sidebar-mini .main-chat-footer {
		margin-inline-start: 0;
	}
  }
  
  /* ###### Chat  ###### */