.counter-icon {
    margin-block-end: 1rem;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 24px;
}

.icon-rocket:before {
    content: "\e05c";
}

.number-font {
    font-weight: 600 !important;
}

.activity1 {
    .activity-blog:last-child {
        &::before {
            border: none !important;
        }
    }
}

.activity-blog:before {
    content: "";
    position: absolute;
    inset-block-start: 45px;
    inset-block-end: 0;
    inset-inline-start: 23px;
    border-inline-start: 1px solid $default-border;
}

.activity-blog {
    display: flex;
    position: relative;
    min-height: 70px;
}

.activity-img {
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}

.activity-details {
    margin-inline-start: 15px;
    width: 80%;
    margin-block-start: 6px;
}

.browser-stats .logo-icon {
    font-size: 22px;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.browser-stats {
    min-height: 71px;
    display: flex;
}
.legend {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    margin-inline-end: 5px;
    margin-top: 6px;
}
.task-list {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0px 0 0;
    color: $default-text-color;
}
.task-list:before {
    content: "";
    position: absolute;
    inset-block-start: 4px;
    inset-block-end: 0;
    height: 90%;
    inset-inline-start: 15px;
    border-inline-start: 1px solid $default-border;
}
.task-list li {
    position: relative;
}
.task-list li {
    margin-block-end: 26px;
    padding-inline-start: 55px;
    position: relative;
}
.task-list li .task-icon {
    position: absolute;
    left: 10px;
    top: 5px;
    border-radius: 50%;
    padding: 2px;
    width: 12px;
    height: 12px;
    z-index: 2;
}
// ================================================sidebar
.offcanvas.offcanvas-end.offcanvas-sidebar {
    max-width: 329px;
}

.offcanvas-sidebar {
    .profile-status {
        content: "";
        position: absolute;
        inset-block-end: 0;
        inset-inline-end: 106px;
        width: 10px;
        height: 10px;
        background-color: #00d48f;
        border-radius: 100%;
        inset-block-start: 73px;
        border: 2px solid #fff;
    }

    .user-pro-body img {
        display: block;
        margin: 0 auto 0px;
        border: 2px solid $primary !important;
        box-shadow: 0px 5px 5px 0px rgba(44, 44, 44, 0.2);
        padding: 3px;
        background: #e8e9f5;
    }

    .card-title {
        font-size: 1rem;
        font-weight: 500;
        margin-block-end: 1.5rem;
    }

    .tab-heading {
        .card-header {
            background-color: $primary !important;
            color: $white;
        }
    }

    .nav-tabs {
        .nav-item {
            margin-inline-end: 0.2rem
        }
    }
}

.offcanvas-sidebar .user-pro-body img {
    display: block;
    margin: 0 auto 0px;
    border: 2px solid var(--primary-bg-color);
    box-shadow: 0px 5px 5px 0px rgba(44, 44, 44, 0.2);
    padding: 3px;
    background: #e8e9f5;
}

.offcanvas-sidebar .user-pro-body .profile-status {
    top: 52px;
}
// ===========sidebar

// =====Dashboard-1====== //
.index-card{
    height: 180px;
}
#candidates-chart,#radialbar-multiple {
    .apexcharts-datalabels-group text {
        fill: $default-text-color !important;
    }
    svg{
        overflow: inherit;
    }
}
    
// =====Dashboard-1====== //

// =====Dashboard-2====== //
#customer-retention{
    width:  100% !important;
    direction: ltr;
    .apexcharts-canvas, .apexcharts-inner, .apexcharts-pie{
        width: 100%!important;
    }
    foreignObject, svg{
        // overflow: inherit;
        width: 100% !important;
    }
}
#total-purchase ,#total-profit,#total-sales,#total-returns{
    .apexcharts-datalabels,.apexcharts-tooltip{
        display: none;
    }
}

#visitors-countries {
    height: 22.9rem;
    svg{
        width: 100%;
    }
  
    #jvm-markers-labels-group {
      display: none;
    }
  }
  
  #visitors-countries circle:nth-child(1) {
    fill: $primary;
    stroke: $primary-03;
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(2) {
    fill: $secondary;
    stroke: rgba(var(--secondary-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(3) {
    fill: $danger;
    stroke: rgba(var(--danger-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(4) {
    fill: $info;
    stroke: rgba(var(--info-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(5) {
    fill: $orange;
    stroke: rgba(var(--orange-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(6) {
    fill: $warning;
    stroke: rgba(var(--warning-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(7) {
    fill: $success;
    stroke: rgba(var(--success-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(8) {
    fill: $pink;
    stroke: rgba(var(--pink-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(9) {
    fill: $dark;
    stroke: rgba(var(--dark-rgb), 0.2);
    stroke-width: 15;
  }
  
  #visitors-countries circle:nth-child(10) {
    fill: $indigo;
    stroke: rgba($indigo, 0.2);
    stroke-width: 15;
  }
  #mixed-linearea{
    .apexcharts-toolbar{
        display: none;
    }
  }
  #customer-retention,#morrisBar9,#customer-satisfaction{
    text {
      fill: #fff !important;
    }
  
  }
// =====Dashboard-2====== //

// =====Dashboard-4====== //
.product-timeline ul.timeline-1 {
    list-style-type: none;
    position: relative;
}
#customer-satisfaction{
    width: auto !important;
    .apexcharts-canvas, .apexcharts-inner, .apexcharts-pie{
        width: 100% !important;
    }
    svg{
        // overflow: inherit;
        width: 100% !important;
    }
}
#statistics .apexcharts-toolbar{
    display: none;
}
.timeline-1 {
    padding-inline-start: revert !important;
}
.product-timeline ul.timeline-1:before {
    content: "";
    display: inline-block;
    position: absolute;
    inset-inline-start: 15px;
    inset-block-start: 27px;
    height: 73%;
    z-index: 0;
    position: absolute;
    bottom: 0;
    border-inline-start: 2px dotted rgba(0, 0, 0, 0.1);
}
.product-timeline ul.timeline-1>li {
    margin-block-end: 1.15rem;
    position: relative;
}
.product-timeline ul.timeline-1>li .product-icon {
    position: absolute;
    inset-inline-start: -40px;
    font-size: 16px;
}
// =====Dashboard-4====== //

// =====Dashboard-5====== //
#leadschart,#leadschart2,#leadschart3,#leadschart4,#leadschart5{
    .apexcharts-grid {
        display: none;
      }
}

#barOne{
    .apexcharts-toolbar{
        display: none;
    }
  }
.card-bgimg {
    background: url(../images/media/bg-img5.jpg) center center;
    background-size: cover;
    position: relative;
    z-index: -9999;
    &:before {
        content: "";
        opacity: 0.9;
        border-radius: 7px;
        background: linear-gradient(125deg, $primary 35%, #9258f1 65%);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        display: block;
        top: 0;
        z-index: 1;
        border-radius: 7px;
    }
     .card-body {
        z-index: 10;
        border-inline-end: 1px solid rgba(255, 255, 255, 0.1);
        position: relative;
    }
}
// =====Dashboard-5====== //